workflows.json
[{"updatedAt":"2026-03-04T14:33:25.857Z","createdAt":"2026-03-04T11:43:39.334Z","id":"Fu1GjiVXXHPiu3aL","name":"Cocina","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-320,0],"id":"b2ca3ae1-1492-4726-8b8b-dbd08fa2cdf6","name":"When chat message received","webhookId":"814150a6-66c2-416c-9dab-d7384ca851df"},{"parameters":{"jsonSchemaExample":"{\n\t\"type\": \"Recipe\",\n\t\"message\": \"Give me a recipe for a delicious lemon pie\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[320,192],"id":"4a2172f7-dc1a-4273-83b3-59cae29fc8dc","name":"Structured Output Parser"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-32,208],"id":"c88e5e90-7a2e-4197-926b-a747307d4248","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"sYgFFGZ2BLmhoL82","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"=Read the message from the user: {{ $json.output.message }} and return a recipe according to the ingredients they have stored in the database. If there are no ingredients or you can't access them, return an average recipe of what they asked.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[800,-384],"id":"d99af719-e8e9-46bd-a9ed-ad04f3d03f04","name":"Recipe agent"},{"parameters":{"promptType":"define","text":"=Read this message:  {{ $json.chatInput }}\nAnd return a json with 2 key-value pairs:\n\"type\": either \"ingredient\", \"diet\", \"recipe\" or \"substitute\" depending on the content of the user prompt, choose the more appropiate one.\n\"message\": the message you receive, therefore, {{ $json.chatInput }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[96,0],"id":"2dc6f153-7a82-418e-862b-0fd5d2e7a802","name":"Message Type agent"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.output.type }}","rightValue":"recipe","operator":{"type":"string","operation":"equals"},"id":"e11ea0c1-d550-4110-b179-728d08c16e72"}],"combinator":"and"},"renameOutput":true,"outputKey":"Recipe"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"008f6195-bfd4-4986-a369-947a5583e20c","leftValue":"={{ $json.output.type }}","rightValue":"ingredient","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ingredient"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8c15166a-f7e8-4a2f-9616-376cb476267c","leftValue":"={{ $json.output.type }}","rightValue":"diet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Diet"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"25f004d9-25e5-4c08-9362-361fb1125096","leftValue":"={{ $json.output.type }}","rightValue":"substitute","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Substitute"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[480,-32],"id":"f745008e-64e4-4f57-97fc-6eb6dcf07fde","name":"Switch"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[784,-208],"id":"a0f2f393-e9cf-4296-841e-374aadfdfa89","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"sYgFFGZ2BLmhoL82","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[784,144],"id":"9932b8ab-f9f4-4dda-8977-269ec21f7bf3","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"sYgFFGZ2BLmhoL82","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[784,512],"id":"a15eb7ed-56b6-401e-bb3b-44bcce2550d6","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"sYgFFGZ2BLmhoL82","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[816,864],"id":"27678f49-38a7-41da-ae9d-987390b5e15a","name":"Google Gemini Chat Model4","credentials":{"googlePalmApi":{"id":"sYgFFGZ2BLmhoL82","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"=Read the message the user sends: {{ $json.output.message }} and add the ingredient to the database: the name in the \"Name\" row on the table and if provided, the brand to the \"Brand\" row, quantity to the \"Quantity\" row and price to the \"Price\" row. If there isn't a database just return \"Añadiendo ingrediente a la lista...\"","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[816,-32],"id":"f399227c-1021-49d9-9bb8-ab1bf57f7d2e","name":"Ingredient agent"},{"parameters":{"promptType":"define","text":"Read the message from the user: {{ $json.output.message }}\n\nRead the ingredients the user has from the database and make a diet for the week according to them and the specifications they provide (if any). If you can't access the database or there are no ingredients on there, just return an average healthy diet.\nDon't ask for confirmation, if you cannot see any ingredients anywhere just provide an average healthy diet, with the specifications provided if any.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[816,320],"id":"872f8f58-a0b4-46b5-97ff-936558605ac3","name":"Diet agent"},{"parameters":{"promptType":"define","text":"=Read the message from the user: {{ $json.output.message }}\nBased on the location of the user, which you have access to on the database, provide a substitute ingredient for the one they're asking and where they can get it.\n\nIf you can't access the database or the location is off, give general substitutes to the ingredient they mention.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[816,672],"id":"c76c38ba-6c3a-4499-97f1-4b2475beb1b8","name":"Substitute agent"},{"parameters":{"jsonSchemaExample":"{\n  \"Monday\": {\n    \"Breakfast\": \"Oatmeal with almond milk, chia seeds, blueberries, and a drizzle of honey\",\n    \"Lunch\": \"Grilled chicken salad with mixed greens, cherry tomatoes, cucumbers, avocado, and olive oil dressing\",\n    \"Dinner\": \"Baked salmon with quinoa and steamed broccoli\"\n  },\n  \"Tuesday\": {\n    \"Breakfast\": \"Greek yogurt with granola and sliced strawberries\",\n    \"Lunch\": \"Quinoa bowl with black beans, roasted vegetables, and a lime-tahini dressing\",\n    \"Dinner\": \"Stir-fried tofu with brown rice and mixed vegetables\"\n  },\n  \"Wednesday\": {\n    \"Breakfast\": \"Smoothie with spinach, banana, protein powder, and flaxseed\",\n    \"Lunch\": \"Turkey and avocado whole-grain wrap with a side of carrot sticks\",\n    \"Dinner\": \"Grilled shrimp with roasted sweet potatoes and asparagus\"\n  },\n  \"Thursday\": {\n    \"Breakfast\": \"Whole-grain toast with almond butter and banana slices\",\n    \"Lunch\": \"Lentil soup with a side of mixed green salad\",\n    \"Dinner\": \"Baked chicken breast with quinoa and sautéed spinach\"\n  },\n  \"Friday\": {\n    \"Breakfast\": \"Scrambled eggs with tomatoes, spinach, and whole-grain toast\",\n    \"Lunch\": \"Chickpea salad with cucumbers, bell peppers, feta, and olive oil\",\n    \"Dinner\": \"Grilled fish tacos with cabbage slaw and avocado\"\n  },\n  \"Saturday\": {\n    \"Breakfast\": \"Greek yogurt pancakes topped with fresh berries\",\n    \"Lunch\": \"Grilled vegetable and hummus wrap\",\n    \"Dinner\": \"Lean beef stir-fry with broccoli, carrots, and brown rice\"\n  },\n  \"Sunday\": {\n    \"Breakfast\": \"Smoothie bowl with mixed berries, granola, and pumpkin seeds\",\n    \"Lunch\": \"Grilled chicken Caesar salad with light dressing\",\n    \"Dinner\": \"Baked cod with roasted Brussels sprouts and sweet potato mash\"\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1040,480],"id":"4dc1dc7f-e59d-42b9-9dab-1f8e78ce839b","name":"Structured Output Parser2"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[128,224],"id":"2cd78309-bdb6-4bec-992d-e605a5fb8bb1","name":"Simple Memory"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[960,880],"id":"18c9090e-2467-4e9b-a38b-aa06f7d8466d","name":"Simple Memory4"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[912,528],"id":"c1d878b7-1336-4b7e-9a83-a1cd4d5bd625","name":"Simple Memory3"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[912,176],"id":"9de375b5-8013-4b9b-9f95-71d66db90257","name":"Simple Memory2"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[912,-176],"id":"7d819874-2b89-42e4-ab0c-2242c2fa1109","name":"Simple Memory1"}],"connections":{"When chat message received":{"main":[[{"node":"Message Type agent","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Message Type agent","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Message Type agent","type":"ai_languageModel","index":0}]]},"Message Type agent":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Recipe agent","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Ingredient agent","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"Diet agent","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model4":{"ai_languageModel":[[{"node":"Substitute agent","type":"ai_languageModel","index":0}]]},"Switch":{"main":[[{"node":"Recipe agent","type":"main","index":0}],[{"node":"Ingredient agent","type":"main","index":0}],[{"node":"Diet agent","type":"main","index":0}],[{"node":"Substitute agent","type":"main","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Diet agent","type":"ai_outputParser","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Message Type agent","type":"ai_memory","index":0}]]},"Simple Memory4":{"ai_memory":[[{"node":"Substitute agent","type":"ai_memory","index":0}]]},"Simple Memory3":{"ai_memory":[[{"node":"Diet agent","type":"ai_memory","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"Ingredient agent","type":"ai_memory","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"Recipe agent","type":"ai_memory","index":0}]]},"Ingredient agent":{"main":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7fe9b4c8-5c31-436a-9deb-fc7ad8a91be5","activeVersionId":null,"versionCounter":321,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-04T21:26:01.620Z","createdAt":"2026-03-04T21:26:01.620Z","role":"workflow:owner","workflowId":"Fu1GjiVXXHPiu3aL","projectId":"AcJUwWpzZAJAhYUx","project":{"updatedAt":"2026-03-04T21:31:28.199Z","createdAt":"2026-03-04T21:14:40.220Z","id":"AcJUwWpzZAJAhYUx","name":"Jorge Expósito  <jexpolob@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"f2d25bc3-a8ba-4a7f-b0f2-c4ae17ddf1fc"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-05T12:36:49.230Z","createdAt":"2026-03-04T14:33:32.097Z","id":"UyRQc7tbRh5uZuah","name":"TFG_COOKING_APP","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"assistant_intent","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1616,464],"id":"3f9d6531-e5a5-47d6-a313-7a0fb3994c14","name":"Recibir json mensaje usuario","webhookId":"37ef4198-2c12-4cbe-ac45-b32a4c502e31"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"user_id\": {{ $json.user_id }},\n  \"message\": {{ $json.message }},\n  \"message_lower\": {{ $json.message.toLowerCase() }}\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1408,464],"id":"f9c69973-92a1-45a3-ad6a-4422804dea34","name":"Normalizar mensaje a lowercase"},{"parameters":{"mode":"raw","jsonOutput":"={\n \"user_id\": {{ $('Normalizar mensaje a lowercase').item.json.user_id }},\n \"message\": {{ $('Normalizar mensaje a lowercase').item.json.message_lower }},\n \"intents\":{{ $json.output.intents }}\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-784,464],"id":"e8a10747-e771-45d7-bc5e-ddfff6990bcf","name":"Normalizar intención"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.intents }}","rightValue":"ingredient_add","operator":{"type":"array","operation":"contains","rightType":"any"},"id":"71c4dedd-de46-4b72-92ff-ca0cd899b484"}],"combinator":"and"},"renameOutput":true,"outputKey":"ingredient_add"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b92ed788-e82b-4dab-a7f4-5a9e29688ad6","leftValue":"={{ $json.intents }}","rightValue":"recipe_suggest","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"renameOutput":true,"outputKey":"recipe_suggest"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"3f0d49be-ec19-45f7-8cbc-c7e8413498e3","leftValue":"={{ $json.intents }}","rightValue":"recipe_save","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"renameOutput":true,"outputKey":"recipe_save"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b2a15532-5e62-46a2-88ba-574cee21f64e","leftValue":"={{ $json.intents }}","rightValue":"diet_generate","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"renameOutput":true,"outputKey":"diet_generate"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"558c1c54-8302-4890-ac3b-fd934def8529","leftValue":"={{ $json.intents }}","rightValue":"ingredient_substitute","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ingredient_substitute"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0cd13ec2-6cf4-4e65-8267-2532b53ee845","leftValue":"={{ $json.intents }}","rightValue":"ingredient_list","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ingredient_list"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e38558de-d608-48f8-bc1f-1616909ae39e","leftValue":"={{ $json.intents }}","rightValue":"expense_check","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"renameOutput":true,"outputKey":"expense_check"}]},"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-560,384],"id":"a6b3895d-8739-4c99-8126-202900e4d669","name":"Switch"},{"parameters":{"promptType":"define","text":"={{ $json.message_lower }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"You are a specialized Cooking Assistant Intent Classifier. Your task is to analyze user messages and extract ALL applicable intents.  ### RULES: 1. Return ONLY a valid JSON object. 2. If multiple intents are present, include ALL of them in the \"intents\" array. 3. Use \"unknown\" ONLY if the message is completely unrelated to cooking or kitchen management.  ### INTENT DEFINITIONS & EXAMPLES: - ingredient_add: Adding items to inventory or a recipe (e.g., \"Añade 3 tomates\", \"Pon manzanas en la lista\"). - ingredient_remove: Deleting items (e.g., \"Quita la leche\", \"Borra el arroz\"). - ingredient_update: Changing quantities or details (e.g., \"Cambia los 3 tomates por 5\"). - recipe_search: Looking for a specific recipe by name (e.g., \"Busca cómo hacer Paella\"). - recipe_suggest: Asking for ideas based on ingredients or preferences (e.g., \"Dime una receta con estas manzanas\"). - diet_generate: Requesting structured meal plans or specific diets (e.g., \"Hazme una dieta keto\", \"Plan de comidas vegano\"). - shopping_list: Managing a grocery list (e.g., \"Qué tengo que comprar\", \"Añade esto a mi lista de la compra\").  ### EXAMPLE MULTI-INTENT: User: \"Añade 4 manzanas fuji y dime una receta. También hazme una dieta keto.\" Output: { \"intents\": [\"ingredient_add\", \"recipe_suggest\", \"diet_generate\"] }"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[-1184,464],"id":"db2eece6-d981-421c-b6c1-2c4fd3697954","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1184,688],"id":"56ec99fa-4dd7-4daf-b607-256bd22bdf17","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"es8gCfZaYdlQRcrk","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"intents\": [\"add_ingredient\", \"recipe_suggest\"]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1040,688],"id":"c983e83d-48c6-4157-841e-b8d190724348","name":"Structured Output Parser"},{"parameters":{"workflowId":{"__rl":true,"value":"BkI2N7pq0c1tX7uu","mode":"list","cachedResultUrl":"/workflow/BkI2N7pq0c1tX7uu","cachedResultName":"ingredient_add_subworkflow"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-80,-96],"id":"09923597-3b4c-45f8-b8e2-bfc9f88dd033","name":"ingredient_add_subworkflow"},{"parameters":{"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-80,112],"id":"89bf0006-f168-43f1-aa8a-1a429dbb1da0","name":"recipe_suggest_subworkflow"},{"parameters":{"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-80,320],"id":"d243a8d6-8a3c-4c2a-8f4f-1d88bbb808ef","name":"recipe_save_subworkflow"},{"parameters":{"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-80,496],"id":"f4017d91-c9fb-4a5b-913c-9a25ee17e048","name":"diet_generate_subworkflow"},{"parameters":{"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-80,688],"id":"5ae1b483-a535-4c9e-a37f-f58c771c0f97","name":"ingredient_substitute_subworkflow"},{"parameters":{"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-80,864],"id":"9ac0fb0e-75f2-4b8a-a4e0-f57d44d43f80","name":"ingredient_list_subworkflow"},{"parameters":{"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-80,1056],"id":"1bc988e6-3170-44c1-a2ef-71b9c7a87154","name":"expense_check_subworkflow"}],"connections":{"Recibir json mensaje usuario":{"main":[[{"node":"Normalizar mensaje a lowercase","type":"main","index":0}]]},"Normalizar mensaje a lowercase":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Normalizar intención":{"main":[[{"node":"Switch","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Normalizar intención","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Switch":{"main":[[{"node":"ingredient_add_subworkflow","type":"main","index":0}],[{"node":"recipe_suggest_subworkflow","type":"main","index":0}],[{"node":"recipe_save_subworkflow","type":"main","index":0}],[{"node":"diet_generate_subworkflow","type":"main","index":0}],[{"node":"ingredient_substitute_subworkflow","type":"main","index":0}],[{"node":"ingredient_list_subworkflow","type":"main","index":0}],[{"node":"expense_check_subworkflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Recibir json mensaje usuario":[{"json":{"user_id":123,"message":"añade 4 manzanas rojas fuji del mercadona por 4€ y dime una receta con ellas. También hazme una dieta keto."}}]},"versionId":"4bc9ddf3-1e76-43a5-a364-0aa4a86fe9ac","activeVersionId":null,"versionCounter":545,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-04T21:26:01.624Z","createdAt":"2026-03-04T21:26:01.624Z","role":"workflow:owner","workflowId":"UyRQc7tbRh5uZuah","projectId":"AcJUwWpzZAJAhYUx","project":{"updatedAt":"2026-03-04T21:31:28.199Z","createdAt":"2026-03-04T21:14:40.220Z","id":"AcJUwWpzZAJAhYUx","name":"Jorge Expósito  <jexpolob@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"f2d25bc3-a8ba-4a7f-b0f2-c4ae17ddf1fc"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-04T15:22:09.415Z","createdAt":"2026-03-04T15:22:09.415Z","id":"CxJ2pGJZawPZJQ7t","name":"prueba","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-16,112],"id":"205278e1-4044-4683-a1ef-8363d91b4687","name":"When chat message received","webhookId":"814150a6-66c2-416c-9dab-d7384ca851df"},{"parameters":{"jsonSchemaExample":"{\n\t\"type\": \"Recipe\",\n\t\"message\": \"Give me a recipe for a delicious lemon pie\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[624,304],"id":"0916eaca-6129-4f54-95a5-287d01468eb4","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"=Read this message:  {{ $json.chatInput }}\nAnd return a json with 2 key-value pairs:\n\"type\": either \"ingredient\", \"diet\", \"recipe\" or \"substitute\" depending on the content of the user prompt, choose the more appropiate one.\n\"message\": the message you receive, therefore, {{ $json.chatInput }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[400,112],"id":"5fae96b1-f57a-4169-9674-33fc5249d26f","name":"Message Type agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[448,336],"id":"fb0fa4d9-b8b5-4c25-8f3e-b15809ad4430","name":"Simple Memory"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[336,336],"id":"bac41ca9-cd52-47f6-81a9-34810cdc1393","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"4dKaupe6uwIEFCl6","name":"OpenAi account"}}}],"connections":{"When chat message received":{"main":[[{"node":"Message Type agent","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Message Type agent","type":"ai_outputParser","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Message Type agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Message Type agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"f492347a-cef0-45f0-a596-de53cce6bf46","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-04T21:26:01.627Z","createdAt":"2026-03-04T21:26:01.627Z","role":"workflow:owner","workflowId":"CxJ2pGJZawPZJQ7t","projectId":"AcJUwWpzZAJAhYUx","project":{"updatedAt":"2026-03-04T21:31:28.199Z","createdAt":"2026-03-04T21:14:40.220Z","id":"AcJUwWpzZAJAhYUx","name":"Jorge Expósito  <jexpolob@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"f2d25bc3-a8ba-4a7f-b0f2-c4ae17ddf1fc"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-05T12:33:10.632Z","createdAt":"2026-03-05T12:32:59.920Z","id":"PXAuAywcTd5yYSi7","name":"ingredient_add_subworkflow","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"path":"5ffec1c5-99cc-45ee-a51c-354abeb565c8","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"81c7fdcb-2e1e-4383-af32-ac7a68f14d1a","name":"Webhook","webhookId":"5ffec1c5-99cc-45ee-a51c-354abeb565c8"}],"connections":{},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"3f39b925-8d14-4305-bbd4-23c26972ff70","activeVersionId":null,"versionCounter":3,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-05T12:32:59.923Z","createdAt":"2026-03-05T12:32:59.923Z","role":"workflow:owner","workflowId":"PXAuAywcTd5yYSi7","projectId":"AcJUwWpzZAJAhYUx","project":{"updatedAt":"2026-03-04T21:31:28.199Z","createdAt":"2026-03-04T21:14:40.220Z","id":"AcJUwWpzZAJAhYUx","name":"Jorge Expósito  <jexpolob@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"f2d25bc3-a8ba-4a7f-b0f2-c4ae17ddf1fc"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-05T12:56:32.407Z","createdAt":"2026-03-05T12:33:16.943Z","id":"BkI2N7pq0c1tX7uu","name":"ingredient_add_subworkflow","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"call_ingredient_add_subworkflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[272,352]},{"parameters":{"promptType":"define","text":"=user_id: {{ $json.user_id }}\nmensaje: {{ $json.message }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"Extrae los datos del ingrediente del mensaje del usuario."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[464,352],"id":"c913fe2f-79c0-46c2-b22f-8db3da048af1","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[464,560],"id":"6a1d848a-0c7d-4e7c-ab45-727c8179b56b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"es8gCfZaYdlQRcrk","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n \"ingredient_name\": \"string\",\n \"ingredient_variant\": \"string\",\n \"quantity\": \"number\",\n \"unit\": \"string\",\n \"brand\": \"string\",\n \"price_total\": \"number\",\n \"price_unit\": \"number\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[624,560],"id":"78ea5a67-3c40-4e87-be11-70c2d9b01cdf","name":"Structured Output Parser"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[816,352],"id":"f2bf5dc0-7705-4fc0-8d58-27603a3c2822","name":"Insert rows in a table"}],"connections":{"call_ingredient_add_subworkflow":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"765469df-5be7-409d-a20c-e2cc6b704f01","activeVersionId":null,"versionCounter":42,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-05T12:33:16.946Z","createdAt":"2026-03-05T12:33:16.946Z","role":"workflow:owner","workflowId":"BkI2N7pq0c1tX7uu","projectId":"AcJUwWpzZAJAhYUx","project":{"updatedAt":"2026-03-04T21:31:28.199Z","createdAt":"2026-03-04T21:14:40.220Z","id":"AcJUwWpzZAJAhYUx","name":"Jorge Expósito  <jexpolob@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"f2d25bc3-a8ba-4a7f-b0f2-c4ae17ddf1fc"}}],"versionMetadata":{"name":null,"description":null}}]