workflows.json
[{"updatedAt":"2026-03-04T14:33:25.857Z","createdAt":"2026-03-04T11:43:39.334Z","id":"Fu1GjiVXXHPiu3aL","name":"Cocina","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-320,0],"id":"b2ca3ae1-1492-4726-8b8b-dbd08fa2cdf6","name":"When chat message received","webhookId":"814150a6-66c2-416c-9dab-d7384ca851df"},{"parameters":{"jsonSchemaExample":"{\n\t\"type\": \"Recipe\",\n\t\"message\": \"Give me a recipe for a delicious lemon pie\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[320,192],"id":"4a2172f7-dc1a-4273-83b3-59cae29fc8dc","name":"Structured Output Parser"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-32,208],"id":"c88e5e90-7a2e-4197-926b-a747307d4248","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"sYgFFGZ2BLmhoL82","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"=Read the message from the user: {{ $json.output.message }} and return a recipe according to the ingredients they have stored in the database. If there are no ingredients or you can't access them, return an average recipe of what they asked.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[800,-384],"id":"d99af719-e8e9-46bd-a9ed-ad04f3d03f04","name":"Recipe agent"},{"parameters":{"promptType":"define","text":"=Read this message:  {{ $json.chatInput }}\nAnd return a json with 2 key-value pairs:\n\"type\": either \"ingredient\", \"diet\", \"recipe\" or \"substitute\" depending on the content of the user prompt, choose the more appropiate one.\n\"message\": the message you receive, therefore, {{ $json.chatInput }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[96,0],"id":"2dc6f153-7a82-418e-862b-0fd5d2e7a802","name":"Message Type agent"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.output.type }}","rightValue":"recipe","operator":{"type":"string","operation":"equals"},"id":"e11ea0c1-d550-4110-b179-728d08c16e72"}],"combinator":"and"},"renameOutput":true,"outputKey":"Recipe"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"008f6195-bfd4-4986-a369-947a5583e20c","leftValue":"={{ $json.output.type }}","rightValue":"ingredient","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ingredient"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8c15166a-f7e8-4a2f-9616-376cb476267c","leftValue":"={{ $json.output.type }}","rightValue":"diet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Diet"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"25f004d9-25e5-4c08-9362-361fb1125096","leftValue":"={{ $json.output.type }}","rightValue":"substitute","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Substitute"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[480,-32],"id":"f745008e-64e4-4f57-97fc-6eb6dcf07fde","name":"Switch"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[784,-208],"id":"a0f2f393-e9cf-4296-841e-374aadfdfa89","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"sYgFFGZ2BLmhoL82","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[784,144],"id":"9932b8ab-f9f4-4dda-8977-269ec21f7bf3","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"sYgFFGZ2BLmhoL82","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[784,512],"id":"a15eb7ed-56b6-401e-bb3b-44bcce2550d6","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"sYgFFGZ2BLmhoL82","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[816,864],"id":"27678f49-38a7-41da-ae9d-987390b5e15a","name":"Google Gemini Chat Model4","credentials":{"googlePalmApi":{"id":"sYgFFGZ2BLmhoL82","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"=Read the message the user sends: {{ $json.output.message }} and add the ingredient to the database: the name in the \"Name\" row on the table and if provided, the brand to the \"Brand\" row, quantity to the \"Quantity\" row and price to the \"Price\" row. If there isn't a database just return \"Añadiendo ingrediente a la lista...\"","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[816,-32],"id":"f399227c-1021-49d9-9bb8-ab1bf57f7d2e","name":"Ingredient agent"},{"parameters":{"promptType":"define","text":"Read the message from the user: {{ $json.output.message }}\n\nRead the ingredients the user has from the database and make a diet for the week according to them and the specifications they provide (if any). If you can't access the database or there are no ingredients on there, just return an average healthy diet.\nDon't ask for confirmation, if you cannot see any ingredients anywhere just provide an average healthy diet, with the specifications provided if any.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[816,320],"id":"872f8f58-a0b4-46b5-97ff-936558605ac3","name":"Diet agent"},{"parameters":{"promptType":"define","text":"=Read the message from the user: {{ $json.output.message }}\nBased on the location of the user, which you have access to on the database, provide a substitute ingredient for the one they're asking and where they can get it.\n\nIf you can't access the database or the location is off, give general substitutes to the ingredient they mention.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[816,672],"id":"c76c38ba-6c3a-4499-97f1-4b2475beb1b8","name":"Substitute agent"},{"parameters":{"jsonSchemaExample":"{\n  \"Monday\": {\n    \"Breakfast\": \"Oatmeal with almond milk, chia seeds, blueberries, and a drizzle of honey\",\n    \"Lunch\": \"Grilled chicken salad with mixed greens, cherry tomatoes, cucumbers, avocado, and olive oil dressing\",\n    \"Dinner\": \"Baked salmon with quinoa and steamed broccoli\"\n  },\n  \"Tuesday\": {\n    \"Breakfast\": \"Greek yogurt with granola and sliced strawberries\",\n    \"Lunch\": \"Quinoa bowl with black beans, roasted vegetables, and a lime-tahini dressing\",\n    \"Dinner\": \"Stir-fried tofu with brown rice and mixed vegetables\"\n  },\n  \"Wednesday\": {\n    \"Breakfast\": \"Smoothie with spinach, banana, protein powder, and flaxseed\",\n    \"Lunch\": \"Turkey and avocado whole-grain wrap with a side of carrot sticks\",\n    \"Dinner\": \"Grilled shrimp with roasted sweet potatoes and asparagus\"\n  },\n  \"Thursday\": {\n    \"Breakfast\": \"Whole-grain toast with almond butter and banana slices\",\n    \"Lunch\": \"Lentil soup with a side of mixed green salad\",\n    \"Dinner\": \"Baked chicken breast with quinoa and sautéed spinach\"\n  },\n  \"Friday\": {\n    \"Breakfast\": \"Scrambled eggs with tomatoes, spinach, and whole-grain toast\",\n    \"Lunch\": \"Chickpea salad with cucumbers, bell peppers, feta, and olive oil\",\n    \"Dinner\": \"Grilled fish tacos with cabbage slaw and avocado\"\n  },\n  \"Saturday\": {\n    \"Breakfast\": \"Greek yogurt pancakes topped with fresh berries\",\n    \"Lunch\": \"Grilled vegetable and hummus wrap\",\n    \"Dinner\": \"Lean beef stir-fry with broccoli, carrots, and brown rice\"\n  },\n  \"Sunday\": {\n    \"Breakfast\": \"Smoothie bowl with mixed berries, granola, and pumpkin seeds\",\n    \"Lunch\": \"Grilled chicken Caesar salad with light dressing\",\n    \"Dinner\": \"Baked cod with roasted Brussels sprouts and sweet potato mash\"\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1040,480],"id":"4dc1dc7f-e59d-42b9-9dab-1f8e78ce839b","name":"Structured Output Parser2"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[128,224],"id":"2cd78309-bdb6-4bec-992d-e605a5fb8bb1","name":"Simple Memory"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[960,880],"id":"18c9090e-2467-4e9b-a38b-aa06f7d8466d","name":"Simple Memory4"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[912,528],"id":"c1d878b7-1336-4b7e-9a83-a1cd4d5bd625","name":"Simple Memory3"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[912,176],"id":"9de375b5-8013-4b9b-9f95-71d66db90257","name":"Simple Memory2"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[912,-176],"id":"7d819874-2b89-42e4-ab0c-2242c2fa1109","name":"Simple Memory1"}],"connections":{"When chat message received":{"main":[[{"node":"Message Type agent","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Message Type agent","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Message Type agent","type":"ai_languageModel","index":0}]]},"Message Type agent":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Recipe agent","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Ingredient agent","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"Diet agent","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model4":{"ai_languageModel":[[{"node":"Substitute agent","type":"ai_languageModel","index":0}]]},"Switch":{"main":[[{"node":"Recipe agent","type":"main","index":0}],[{"node":"Ingredient agent","type":"main","index":0}],[{"node":"Diet agent","type":"main","index":0}],[{"node":"Substitute agent","type":"main","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Diet agent","type":"ai_outputParser","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Message Type agent","type":"ai_memory","index":0}]]},"Simple Memory4":{"ai_memory":[[{"node":"Substitute agent","type":"ai_memory","index":0}]]},"Simple Memory3":{"ai_memory":[[{"node":"Diet agent","type":"ai_memory","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"Ingredient agent","type":"ai_memory","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"Recipe agent","type":"ai_memory","index":0}]]},"Ingredient agent":{"main":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"997cd936-6d6b-4a65-a749-64d632aac66a","activeVersionId":null,"versionCounter":321,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-04T11:43:39.338Z","createdAt":"2026-03-04T11:43:39.338Z","role":"workflow:owner","workflowId":"Fu1GjiVXXHPiu3aL","projectId":"5asNGNZ9ORFJbedE","project":{"updatedAt":"2026-03-04T11:41:38.990Z","createdAt":"2026-03-04T11:28:20.968Z","id":"5asNGNZ9ORFJbedE","name":"Jorge Expósito <jexpolob@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"9c44f6e9-26a4-4875-a9da-bb930ab18891"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-04T17:07:02.353Z","createdAt":"2026-03-04T14:33:32.097Z","id":"UyRQc7tbRh5uZuah","name":"My workflow","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-1120,384],"id":"a40f03ce-fc5c-49ba-af19-194cda0709ae","name":"When chat message received","webhookId":"814150a6-66c2-416c-9dab-d7384ca851df"},{"parameters":{"options":{"systemMessage":"You are a task-orchestrating cooking assistant. You must internally analyze the user message and identify all actionable tasks. Actionable task types are: \n- Adding or modifying ingredients \n- Requesting a recipe \n- Asking for an ingredient substitute \n- Requesting a diet or meal plan \nINTERNAL EXECUTION RULES (DO NOT REVEAL): \n1. Detect ALL task types present in the message. \n2. For each detected task: \n- Ingredient-related → call \"Ingredient_Agent\" \n- Recipe request → call \"Recipe_Agent\" \n- Substitute request → call \"Substitute_Agent\" \n- Diet or meal plan → call \"Diet_Agent\" \n3. If multiple task types exist, you MUST call multiple tools. \n4. Detect all tasks ONCE. Call each required tool EXACTLY ONE time. Do NOT re-evaluate or retry tool calls. After all required tools are called ONCE, produce final output.\n5. Do NOT produce a final answer until all tasks are completed. \nCRITICAL: \n- Never explain your internal reasoning. \n- Never display task decomposition. \n- Never display tool mapping. \n- Never output planning steps. \n- Never ask the user which task type they want if tasks are clearly present. \n- Never ignore a valid task. \n- Never generate a direct answer if a tool applies. \nOnly respond directly if: \n- The message is greeting or small talk. \nFinal output must contain ONLY the combined results of executed tools in the same language as the user's prompt. You are an execution engine, not a conversational assistant. "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-656,352],"id":"c5afcb1c-1ce4-400f-8ad2-1fef624e2a18","name":"Message Type agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1104,608],"id":"f848123d-4994-4f20-a190-c641ff1447e6","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"4dKaupe6uwIEFCl6","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-944,624],"id":"39d8cf2f-e292-4180-a74a-8c7dad0851fc","name":"Simple Memory"},{"parameters":{"toolDescription":"Use this tool when the user asks for a replacement or alternative for an ingredient.\nExamples: \"What can I use instead of eggs?\", \"Dime un sustituto para levadura\".","text":"=","options":{"systemMessage":"You are an Ingredient Substitute Agent.\n\nYour ONLY responsibility is to provide ingredient substitutions.\n\nYou will receive:\n- The ingredient to substitute\n- The recipe context (if provided)\n\nYour task:\n\n1. Provide 2–3 practical substitute options. You MUST only provide the first results you can find, granted they are fitting to the user prompt.\n2. VERY Briefly explain how each affects:\n   - Texture\n   - Flavor\n   - Measurements (if relevant)\n\nSTRICT RULES:\n\n- Do NOT generate full recipes.\n- Do NOT create diet plans.\n- Do NOT modify ingredient databases.\n- Do NOT add unrelated cooking advice.\n- Do NOT ask follow-up questions.\n- Do NOT mention system architecture.\n\nIf no context is provided:\nProvide general-purpose substitutes.\n\nOUTPUT STYLE:\n\n- Clear list format\n- Concise explanations\n- Practical cooking tone\n- No conversational filler"}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":3,"position":[-256,912],"id":"ea03837b-29a3-438c-bb11-9f80d4f9005d","name":"Substitute_Agent"},{"parameters":{"toolDescription":"Use this tool when the user requests a structured meal plan or weekly diet.\nExamples: \"Create a weekly keto diet\", \"Dame una dieta alta en proteína\".","text":"=","options":{"systemMessage":"You are a Weekly Diet Planning Agent.\n\nYour ONLY responsibility is to create structured meal plans.\n\nYou will receive:\n- Dietary requirements (if any)\n- Nutritional goals (if any)\n- Possibly available ingredients (if accessible)\n\nYour task:\n\n1. Create a 7-day meal plan.\n2. Include:\n   - Breakfast\n   - Lunch\n   - Dinner\n3. Respect any specifications provided (e.g., keto, high carb, vegetarian).\n4. If ingredients are available, incorporate them when reasonable.\n\nSTRICT RULES:\n\n- Do NOT generate standalone recipes with full instructions.\n- Do NOT modify ingredient databases.\n- Do NOT suggest substitutes.\n- Do NOT provide medical advice.\n- Do NOT mention calorie numbers unless explicitly requested.\n- Do NOT mention system limitations.\n\nIf no ingredients are accessible:\nGenerate a balanced, generic weekly plan based on the user's specifications.\n\nOUTPUT STYLE:\n\n- Clearly separated days (Day 1–Day 7)\n- Structured layout\n- Concise descriptions\n- No conversational filler"}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":3,"position":[-560,912],"id":"faf89f7b-12c1-4436-9cfa-1471bf411ed1","name":"Diet_Agent"},{"parameters":{"toolDescription":"Use this tool when the user wants to add, remove, update, or manage ingredients in a list.\nExamples: \"Add eggs\", \"Remove milk\", \"Update sugar quantity\", \"Añade harina a la lista\".","text":"=","options":{"systemMessage":"You are an Ingredient Management Agent.\n\nYour ONLY responsibility is to manage ingredients.\n\nYou will receive a user message that may include:\n- Ingredient name\n- Brand (optional)\n- Quantity (optional)\n- Price (optional)\n\nYour task:\n\n1. Extract structured ingredient data.\n2. Add or update the ingredient in the database:\n   - Name → \"Name\" column\n   - Brand → \"Brand\" column (if provided)\n   - Quantity → \"Quantity\" column (if provided)\n   - Price → \"Price\" column (if provided)\n\nSTRICT RULES:\n\n- Do NOT generate recipes.\n- Do NOT generate diet plans.\n- Do NOT suggest substitutes.\n- Do NOT ask follow-up questions.\n- Do NOT add extra commentary.\n- Do NOT mention databases, memory, or system structure.\n- Do NOT invent missing fields.\n\nIf no database connection exists:\nReturn exactly:\n\"Añadiendo ingrediente a la lista...\"\n\nOUTPUT RULES:\n\n- Be concise.\n- Confirm the ingredient added in a short sentence.\n- No conversational filler."}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":3,"position":[-832,912],"id":"fd2ef8ae-a579-4dbf-a048-9c20e3b03b22","name":"Ingredient_Agent"},{"parameters":{"toolDescription":"Use this tool when the user asks for a recipe or how to cook a specific dish.\nExamples: \"Give me a lasagna recipe\", \"How do I make pancakes?\", \"Dame una receta de red velvet\".","text":"=","options":{"systemMessage":"You are a Recipe Generation Agent.\n\nYour ONLY responsibility is to generate recipes.\n\nYou will receive a user request that may include:\n- A specific recipe name\n- A type of dish\n- Constraints (dietary, ingredient-based, etc.)\n\nYour task:\n\n1. If the user has ingredients available (if provided via context), prioritize them.\n2. If no ingredients are available, generate a standard recipe matching the request.\n3. Provide:\n   - Recipe Name\n   - Short description\n   - Ingredients list\n   - Step-by-step instructions\n\nSTRICT RULES:\n\n- Do NOT manage ingredient storage.\n- Do NOT create weekly diet plans.\n- Do NOT suggest ingredient substitutes unless explicitly requested.\n- Do NOT mention system limitations.\n- Do NOT invent access to databases if none is provided.\n- Do NOT generate unrelated recipes.\n\nIf the request is unclear:\nGenerate the most reasonable version of what was asked.\n\nOUTPUT STYLE:\n\n- Clear headings\n- Bullet-point ingredients\n- Numbered instructions\n- No conversational filler\n- Professional but practical tone"}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":3,"position":[-1104,912],"id":"3f0fc98e-87c8-4611-bee7-d67c5b671be8","name":"Recipe_Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1104,1136],"id":"98e09b08-08e1-436e-80e8-62434033c510","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"4dKaupe6uwIEFCl6","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-832,1136],"id":"53a072ea-aa35-4507-a917-db8b721c951f","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"4dKaupe6uwIEFCl6","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-256,1136],"id":"8b66730e-9c9b-4c7f-8dba-7573e4a030fb","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"4dKaupe6uwIEFCl6","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-560,1120],"id":"fbb2c155-f901-45d4-9f84-f5ea17b2b248","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"4dKaupe6uwIEFCl6","name":"OpenAi account"}}}],"connections":{"When chat message received":{"main":[[{"node":"Message Type agent","type":"main","index":0}]]},"Message Type agent":{"main":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Message Type agent","type":"ai_languageModel","index":0}]]},"Substitute_Agent":{"ai_tool":[[{"node":"Message Type agent","type":"ai_tool","index":0}]]},"Diet_Agent":{"ai_tool":[[{"node":"Message Type agent","type":"ai_tool","index":0}]]},"Ingredient_Agent":{"ai_tool":[[{"node":"Message Type agent","type":"ai_tool","index":0}]]},"Recipe_Agent":{"ai_tool":[[{"node":"Message Type agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Recipe_Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Ingredient_Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Diet_Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Substitute_Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"202b1e90-1a40-4705-a90c-f27914ea0b8b","activeVersionId":null,"versionCounter":270,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-04T14:33:32.103Z","createdAt":"2026-03-04T14:33:32.103Z","role":"workflow:owner","workflowId":"UyRQc7tbRh5uZuah","projectId":"5asNGNZ9ORFJbedE","project":{"updatedAt":"2026-03-04T11:41:38.990Z","createdAt":"2026-03-04T11:28:20.968Z","id":"5asNGNZ9ORFJbedE","name":"Jorge Expósito <jexpolob@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"9c44f6e9-26a4-4875-a9da-bb930ab18891"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-04T15:22:09.415Z","createdAt":"2026-03-04T15:22:09.415Z","id":"CxJ2pGJZawPZJQ7t","name":"prueba","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-16,112],"id":"205278e1-4044-4683-a1ef-8363d91b4687","name":"When chat message received","webhookId":"814150a6-66c2-416c-9dab-d7384ca851df"},{"parameters":{"jsonSchemaExample":"{\n\t\"type\": \"Recipe\",\n\t\"message\": \"Give me a recipe for a delicious lemon pie\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[624,304],"id":"0916eaca-6129-4f54-95a5-287d01468eb4","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"=Read this message:  {{ $json.chatInput }}\nAnd return a json with 2 key-value pairs:\n\"type\": either \"ingredient\", \"diet\", \"recipe\" or \"substitute\" depending on the content of the user prompt, choose the more appropiate one.\n\"message\": the message you receive, therefore, {{ $json.chatInput }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[400,112],"id":"5fae96b1-f57a-4169-9674-33fc5249d26f","name":"Message Type agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[448,336],"id":"fb0fa4d9-b8b5-4c25-8f3e-b15809ad4430","name":"Simple Memory"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[336,336],"id":"bac41ca9-cd52-47f6-81a9-34810cdc1393","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"4dKaupe6uwIEFCl6","name":"OpenAi account"}}}],"connections":{"When chat message received":{"main":[[{"node":"Message Type agent","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Message Type agent","type":"ai_outputParser","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Message Type agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Message Type agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"9d75d1a4-651a-4ced-bdcc-c624e96fa4d9","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-04T15:22:09.422Z","createdAt":"2026-03-04T15:22:09.422Z","role":"workflow:owner","workflowId":"CxJ2pGJZawPZJQ7t","projectId":"5asNGNZ9ORFJbedE","project":{"updatedAt":"2026-03-04T11:41:38.990Z","createdAt":"2026-03-04T11:28:20.968Z","id":"5asNGNZ9ORFJbedE","name":"Jorge Expósito <jexpolob@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"9c44f6e9-26a4-4875-a9da-bb930ab18891"}}],"versionMetadata":{"name":null,"description":null}}]